include ./argumentsFormWidget
include ./buttonIcon

mixin saveDialog(debate)
    dialog
        h2 Diese Argumentation speichern und teilen 
        form(method="post" action="/save")
            // Janky AF
            div.hidden
                +argumentsFormWidget(debate)

            label(for="password") Passwort für deine Argumentation (optional)
            input(type="text" name="password" placeholder="Passwort")
            p 
                i Daten werden mit hilfe dieses Passwortes verschlüsselt 

            br

            label(for="password") Ablaufdatum für deine Argumentation
            input(type="date" name="expiry")
            p 
                i Nach diesem Datum ist der Link nicht mehr erreichbar. <br> Die Daten werden spätestens beim nächsten Zugriffsversuch gelöscht. 

            br
            
            center
                button Speichern & Teilen
                    +fancyIcon("➦")
        a(onclick="showSaveModal(true)") Schließen
