extends ./base
include ./elements/buttonIcon

block content
    main.center.fh
        form(method="POST" action="/steps/1")
            h1 Pro/Kontra
            input(type="text" name="thesis" required placeholder="These")
            button(type="submit") Weiter 
                +fancyIcon("⇒")
    footer 
        |Made by me

