extends ./base
include ./elements/buttonIcon


block content
    main.center.fh
        form(method="POST" action="/result/"+uuid)
            h1 Es wurde eine Argumentation mit ihnen geteilt! 
            h2 Bitte geben Sie das Passwort an, um diese zu entschlüsseln.
            input(type="text" name="password" required placeholder="Passwort")
            button(type="submit")  Argumentation entschlüsseln
                +fancyIcon("⇒")