body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

.pro {
    display: block;
}

.con {
    display: block;
}


main.center {
    display: grid;
    place-items: center;
}

header {
    z-index: 10;
    background: #fff;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 150px;
}

.fh {
    height: 100vh;
}

footer {
    z-index: 10;
    background: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: fit-content;
    display: grid;
    place-items: center;
}

input {
    font-family: 'Fira Sans', sans-serif;
    opacity: 1;
    border-radius: 50px;
    font-size: x-large;
    margin: 10px;
    padding: 7px;
    border: 3px solid black;
    margin-left: 2.5px;
    max-width: 40vw;
    transition: all .25s;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row !important;
    flex-wrap: nowrap;
}



.col {
    /*margin-top: 20vh;*/
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
}

.col div {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.seperator {
    background: black;
    width: 3px;
    border-radius: 5px;
    transition: all 1s;
}

input:focus {
    border: 3px solid black;
}

.animation {
    transition: all 1s;
    opacity: 0;
    z-index: -1;
    padding: 0;
    font-size: 0;
}

.circle {
    background-color: #fff900;
    border-radius: 50%;
    width: 48pt;
    height: 48pt;
    display: inline-block;
    text-align: end;
    margin-left: 50px;
    transition: all 1s;
}
.arrow {
    position: relative;
    left: calc(50px + 15pt);
    font-size: 40pt;
    transition: all 1s;
}
button:hover > .arrow {
    left: calc(50px + 30pt);
    font-size: 45pt;
}

button {
    background-color: #fff;
    font-size: 24pt;
    border: 3px solid black;
    padding: 10px 15px;
    border-radius: 50px;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    align-items: center;
    transition: all 1s;
    margin: 20px;
    box-shadow: 10px 10px 0px 0px rgba(255,249,0,0.75);
    -webkit-box-shadow: 10px 10px 0px 0px rgba(255,249,0,0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(255,249,0,0.75);
    cursor: pointer;
}
button:hover {
    border-radius: 54px;

}

.pro input {
    box-shadow: 5px 5px 0px 0px rgba(0,255,45,0.75);
}
.con input {
    box-shadow: 5px 5px 0px 0px rgba(255,0,57,0.75);
}

.inactive {
    border: 3px solid gray !important;
    box-shadow: none !important;
    opacity: 0.5;
    z-index: 1;
}

.weight {
    border: 3px solid black;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 5px 5px 0px 0px rgba(255,249,0,0.75) !important;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(255,249,0,0.75);
    -moz-box-shadow: 5px 5px 0px 0px rgba(255,249,0,0.75);
    background: rgba(0,0,0,0);
    font-size: x-large;
    padding: 0px;
    height: 48px;
    width: 48px;
    margin: 10px;
    margin-right: 3.5px;
    transition: all 0.5s;
    text-align: center;
}

button:hover {
    transform: scale(90%);
    cursor: pointer;
}
button:active {
    transform: scale(70%);
}

table {
    height: 250px;
    font-size: xx-large;
    margin: 25px 0 25px 0;
}

th {
    font-weight: 400;
    font-style: italic;
}

th, td {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    margin: 0;
    padding: 15px;
}
#table-con.winner {
    background-color: rgba(255,0,57,1);
}
#table-pro.winner {
    background-color: rgba(0,255,45,1);
}

::backdrop {
  background-color: gray;
  opacity: 0.75;
}

.hidden {
    display: none;
}

dialog {
    text-align: center;
    
    form input {
        width: 90%;
    }

    form p {
        margin: 0;
    }
 
}

a {
    cursor: pointer;
    text-decoration: underline;
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/va9E4kDNxMZdWfMOD5Vvl4jL.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}