doctype html
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="title" content="Abwäg-o-mat")
        meta(name="description" content="Dein o-mat, mit welchem du einfach Pro/Kontra situationen abwägen kannst!")
        meta(name="keywords" content="Abwäg-o-mat, Pro Kontra, Entscheidungshilfe, Argumente abwägen, Entscheidungs-Tool, Pro und Kontra, Web-App, Diskussionshilfe, Entscheidungsmatrix, Analyse, Bewertung, Online Tool, Entscheidungsfindung, Argumentieren")
        meta(name="robots" content="index,follow")
        meta(charset="utf-8")
        meta(name="language" content="de")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/assets/css/style.css")
        title Abwäg-o-mat
    body 
        block content