extends ./base
include ./elements/buttonIcon


block content
    main.center.fh.tc
        form(method="POST" action="/result/"+uuid)
            h1 #{__("shareTitle")} 
            h2 #{__("shareDescription")}
            div.igroup
                input(type="text" name="password" required placeholder="Passwort")
                button(type="submit") #{__("decryptDebate")}
                    +fancyIcon("⇒")