include ./argumentsFormWidget
include ./buttonIcon

mixin shareDialog()
    dialog.share
        h2 #{__("shareExtended")}
        form
            label(for="url") #{__("shareFormDescription")}
            input(type="text" name="url" readonly)
            br

        center
            button(onclick="copyUrl()") #{__("copyAndClose")}
                +fancyIcon("📋")
